
<div class="lightbox-title">Menu</div>

<div style="display:none" class="flash-message notice">
	<p class="util-relative "><a href="" class="icon-close" data-action="FlashHide"></a></p>
</div>
<nav class="mobile-menu">
	<nav class="site-links">
	<a class="icon-about" target="_blank" rel="noopener" href="https://about.ask.fm?lang=en">About ASKfm</a>
	<a class="icon-safetycenter" target="_blank" rel="noopener" href="https://safety.ask.fm?lang=en">Safety center</a>
	<a class="icon-contacthelp" target="_blank" rel="noopener" href="http://support.ask.fm?lang=en">Help</a>
	<a class="icon-community-guidelines" target="_blank" rel="noopener" href="https://safety.ask.fm/community-guidelines/?lang=en">Community Guidelines</a>
	<a class="icon-termsofuse" target="_blank" rel="noopener" href="https://about.ask.fm/terms/?lang=en">Terms of use</a>
	<a class="icon-privacypolicy" target="_blank" rel="noopener" href="https://about.ask.fm/privacy-policy/?lang=en">Privacy policy</a>
	<a class="icon-cookiespolicy" target="_blank" rel="noopener" href="https://about.ask.fm/cookie-policy/?lang=en">Cookies policy</a>
	<a class="icon-about" target="_blank" rel="noopener" href="https://about.ask.fm/advertising/?lang=en">Advertising</a>
	<a class="language icon-language" title="Choose language" data-action="PopupOpen" data-url="/home/languages" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;language&quot;,&quot;Home&quot;,&quot;Locales&quot;]}" href="#">English</a>
	</nav>
	<nav class="social-links">
	<a class="icon-askfm-solo" target="_blank" href="https://ask.fm/askfm"></a>
	<a class="icon-facebook-solo" target="_blank" rel="noopener" href="https://www.facebook.com/askfmpage"></a>
	<a class="icon-twitter-solo" target="_blank" rel="noopener" href="https://twitter.com/askfm"></a>
	<a class="icon-instagram-solo" target="_blank" rel="noopener" href="https://instagram.com/askfm"></a>
	<a class="icon-vk-solo" target="_blank" rel="noopener" href="https://vk.com/askfm"></a>
	</nav>
</nav>

