{{> "header"}}

<div id="contentArea" class="">
    <div class="rsp-container">
        <!---->
        <div class="rsp-row top-content">
            <!---->
            <div class="profile-background" style="background-image:url({{#if userData.background}}{{userData.background}}{{else}}http://i.imgur.com/HSmdSGH.jpg{{/if}})">
                <div class="profile-header">
                    <a style="background-image:url({{#if userData.thumb_avatar}}{{userData.thumb_avatar}}{{else}}http://i.imgur.com/HSmdSGH.jpg{{/if}})" class=" profile-picture" data-action="ImagesOpen" data-urls="{&quot;{{#if userData.thumb_avatar}}{{userData.thumb_avatar}}{{else}}http://i.imgur.com/HSmdSGH.jpg{{/if}}&quot;:&quot;{{#if userData.avatar}}{{userData.avatar}}{{else}}http://i.imgur.com/HSmdSGH.jpg{{/if}}&quot;}" href="/{{#if userData.u_nick}}{{userData.u_nick}}{{else}}testuser{{/if}}/avatar"></a>
                    <a class="profile-name" href="/{{userData.u_nick}}"><span class="blockLink">{{userData.p_name}}</span><span class="blockLink" dir="ltr">@{{userData.u_nick}}</span></a>
                    <div class="profile-label">
                        <a class=" icon-add-friend" data-action="PopupOpen" data-url="/login/prompt" href="#">Seguir</a>
                    </div>
                    <a class="left icon-flag" title="Denunciar" data-action="PopupOpen" data-url="/{{userData.u_nick}}/flag?reload=true" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-user&quot;,&quot;User reports&quot;,&quot;Index&quot;]}" href="#"></a>
                    <a class="btn-primary-wide rsp-lte-tablet" data-action="PopupOpen" data-url="/login/prompt" href="#">Pregúntame cualquier cosa</a>
                </div>
            </div>
            <!---->
            {{#js_compare "this.userData.p_about_me || this.userData.p_geo || this.userData.p_website || this.userData.p_interest"}}
            <div class="profile-bio rsp-lte-tablet">
                {{#if userData.p_about_me}}
                <p class="icon-bio">{{userData.p_about_me}}</p>
                {{/if}}
                 {{#if userData.p_geo}}
                <p class="icon-location">{{userData.p_geo}}</p>
                {{/if}}
                {{#if userData.p_website}}
                <p class="icon-link">{{userData.p_website}}</p>
                {{/if}}
            </div>
            {{/js_compare}}
        </div>
        <!---->
        <div class="rsp-row main-content util-clearfix">
            {{#if AnswerId}}
            <div class="rsp-gte-mobile main-column">
                <div class="item streamItem streamItem-singleAnswer">
                    <div class="streamItemContent streamItemContent-question">
                        <h1 class="old">{{Answers.q_quest}}</h1>
                    </div>
                    <div class="answerWrapper">
                        <p class="streamItemContent streamItemContent-answer">{{Answers.a_content}}</p>
                        <p class="readMore">
                            <a class="button" data-action="ReadMore" href="#">Ver más</a>
                        </p>
                    </div>
                    <div class="streamItemContent streamItemContent-footer old">
                        <div class="streamItemsAge links">
                            <a title="Back" class="icon-caret-left" href="/{{userData.u_nick}}/answers/143146444818"></a>
                            <a title="{{Answers.a_date_full}}" href="/{{userData.u_nick}}/answers/{{AnswerId}}">{{Answers.a_date}}</a>
                        </div>
                    </div>
                    <div class="streamItemOptions afm-popover-container old">
                        <div class="likeButton">
                            <a class="icon-like" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                            <a class="counter" href="/{{userData.u_nick}}/answers/{{AnswerId}}">2</a>
                        </div>
                        <a title="More" class="streamItemOptions-more icon-more" data-action="PopoverOpen" href="#"></a><nav class="afm-popover right" style="display:none"><a class="icon-flag" data-action="PopupOpen" data-url="/rjoselin/answers/143151663890/flag" href="#">Report post</a></nav>
                        <a class="rsp-lte-tablet streamItemOptions-reask icon-reask" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                        <a class="rsp-eql-desktop streamItemOptions-reask icon-reask" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                        <a title="Share now" class="streamItemOptions-share icon-share" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                    </div>
                </div>
                {{if Answers.Likes}}
                <div class="item-pager likes-container">
                    <div class="item streamItem streamItem-user " data-login="ariadna_quintana">
                        <a class="btn-secondary " data-action="PopupOpen" data-url="/login/prompt" href="#">Follow</a>
                        <a style="background-image:url(https://akimg3.ask.fm/8f5/73425/531b/4669/905c/c519ff3fcb65/thumb/5136704.jpg)" class="askfm-avatar45 emoodji-user emoodji5-user" href="/ariadna_quintana"></a>
                        <a class="streamItemWallContent streamItemContent-user" href="/ariadna_quintana">
                            <span class="blockLink old">Dännä Vïlchïs</span>
                            <span class="blockLink old" dir="ltr">@ariadna_quintana</span>
                        </a>
                    </div>
                    <div class="item streamItem streamItem-user " data-login="rjoselin">
                        <a class="btn-secondary " data-action="PopupOpen" data-url="/login/prompt" href="#">Follow</a>
                        <a style="background-image:url(https://akimg1.ask.fm/3c0/55fd9/d2fc/4ff2/8ab1/d8df7802fc6f/thumb/1275272.jpg)" class="askfm-avatar45 " href="/rjoselin"></a>
                        <a class="streamItemWallContent streamItemContent-user" href="/rjoselin">
                            <span class="blockLink old">Reboreda Joselin</span>
                            <span class="blockLink old" dir="ltr">@rjoselin</span>
                        </a>
                    </div>
                </div>
                {{/if}}
            </div>
            {{else}}
            <div class="rsp-gte-mobile main-column">
                <div class="ask-box section rsp-eql-desktop">
                    <h3>Haz una pregunta a <span dir="ltr">@{{userData.u_nick}}</span>:</h3>
                    <form id="askForm" autocomplete="off" class="new_question" data-gtm="{&quot;name&quot;:&quot;ask-question&quot;,&quot;meta&quot;:[]}" data-action="FormXHRSubmit" action="/{{userData.u_nick}}/ask" accept-charset="UTF-8" method="post">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                        <input type="hidden" name="authenticity_token" value="p6gmHWy8n8Sx5VhiqqNxb0FQF987TJu5nQTaswtkbeHF+KZS6j+5suYF0NVanst2g0vqOeDkGt9Ykrsw+YM1zw==" />
                        <div class="question old">
                            <textarea placeholder="Qué, cuándo, cómo... pregunta" autofocus="autofocus" data-counter=".optionsBar-counter" data-limit="300" data-atcomplete="/account/friends/autocomplete" name="question[question_text]" id="question_question_text"></textarea>
                        </div>
                        <div class="optionsBar">
                            <input name="question[anonymous]" disabled="disabled" type="hidden" value="0" />
                            <input id="single_question_anonymous" class="checkbox" disabled="disabled" data-action="PopupOpen" data-url="/login/prompt" type="checkbox" value="true" name="question[anonymous]" />
                            <label for="single_question_anonymous" class="optionsBar-askMode">
                                <span>Pregunta anónimamente</span>
                            </label>
                            <div class="optionsBar-buttonWrap">
                                <button name="button" type="button" class="btn-primary" data-action="QuestionSaveAndPopupOpen" data-url="/login/prompt">Preguntar</button>
                                <div class="optionsBar-option optionsBar-counter"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="rsp-eql-mobile">
                    <nav class="subTabBar profileTabBar">
                        <a title="Respuestas" class="icon icon-answer active" href="/{{userData.u_nick}}"><div class="profileTabAnswerCount">{{userData.t_answers}}</div></a>
                        <a title="Me gusta" class="icon icon-like" href="/{{userData.u_nick}}/best"><div class="profileTabLikeCount"></div></a>
                        <a title="Regalos" class="icon icon-gift" href="/{{userData.u_nick}}/gifts"><div class="profileTabGiftCount">0</div></a>
                    </nav>
                </div>
                <div class="rsp-gte-tablet">
                    <nav class="subTabBar-wide profileTabBar">
                        <a class="active" href="/{{userData.u_nick}}"><div class="profileTabAnswerCount">{{userData.t_answers}}</div>Respuestas</a>
                        <a class="" href="/{{userData.u_nick}}/best"><div class="profileTabLikeCount">0</div>Me gusta</a>
                        <a class="" href="/{{userData.u_nick}}/gifts"><div class="profileTabGiftCount">0</div>Regalos</a>
                    </nav>
                </div>
                <div class="streamItem streamItem-panel heading">
                    <h1 class="streamItemContent streamItemContent-heading">
                    {{userData.p_name}} <div>Últimas respuestas</div>
                    </h1>
                </div>
                <a id="newItemsReady" style="display:none" data-action="ItemsPoll" data-poll-url="/{{userData.u_nick}}/answers/poll?score=1454645225" href="#"></a>
                <!---->
                {{#if Answers}}
                <div class="item-pager ">
                    <!-- Respuestas -->
                    {{#each Answers}}
                    <div class="item streamItem streamItem-answer">
                        <!-- Question -->
                        <div class="streamItemContent streamItemContent-question">
                            <h2>{{q_quest}}</h2>
                            <a class="questionersName" href="/usuarioquepregunta">{{q_uid}}</a>
                        </div>
                        <!-- Answer -->
                        <div class="answerWrapper">
                            <p class="streamItemContent streamItemContent-answer">{{a_content}}</p>
                            <p class="readMore">
                                <a class="button" data-action="ReadMore" href="#">Ver más</a>
                            </p>
                        </div>
                        <!-- Footer -->
                        <div class="streamItemContent streamItemContent-footer">
                            <div class="streamItemsAge links">
                                <a title="{{a_date_full}}" href="/{{../userData.u_nick}}/answers/{{a_id}}">{{a_date}}</a>
                            </div>
                        </div>
                        <div class="streamItemOptions afm-popover-container">
                            <div class="likeButton">
                                <a class="icon-like" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                                <a class="counter" href="/{{../userData.u_nick}}/answers/{{a_id}}">0</a>
                            </div>
                            <a title="Más" class="streamItemOptions-more icon-more" data-action="PopoverOpen" href="#"></a>
                            <nav class="afm-popover right" style="display:none">
                                <a class="icon-flag" data-action="PopupOpen" data-url="/{{../userData.u_nick}}/answers/{{a_id}}/flag" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;report-topic&quot;,&quot;Answer reports&quot;,&quot;New reason&quot;]}" href="#">Denunciar publicaciones</a>
                            </nav>
                            <a class="rsp-lte-tablet streamItemOptions-reask icon-reask" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                            <a class="rsp-eql-desktop streamItemOptions-reask icon-reask" data-action="PopupOpen" data-url="/login/prompt" href="#"></a>
                            <a title="Compartir ahora" class="streamItemOptions-share icon-share" data-action="PopupOpen" data-url="/login/prompt" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;share-topic&quot;,&quot;Share answer&quot;,&quot;New&quot;]}" href="#"></a>
                        </div>
                    </div>
                    {{/each}}
                     <!-- /Respuestas -->

                     <!-- Ver más respuestas -->
                    <a class="viewMore" data-action="ItemsMore" data-url="/{{userData.u_nick}}/answers/more?score=1435374911" href="#">Cargando...</a>
                </div>
                <!-- Sin respuestas -->
                {{else}}
                <div class="emptyResults icon-owl-sad">
                    <p>Este usuario aún no ha respondido ninguna pregunta</p>
                    <p>Hazle una pregunta a {{userData.p_name}} ahora</p>
                </div>
                {{/if}}
            </div>
            {{/if}}

            <div class="rsp-eql-desktop side-column">
                <div class="sticky-anchor">
                    {{#js_compare "this.userData.p_about_me || this.userData.p_geo || this.userData.p_website || this.userData.p_aficiones"}}
                    <div class="profile-bio section">
                        <h3>Acerca de {{userData.p_name}}</h3>
                        {{#if userData.p_about_me}}
                        <p class="icon-bio">{{userData.p_about_me}}</p>
                        {{/if}}
                         {{#if userData.p_geo}}
                        <p class="icon-location">{{userData.p_geo}}</p>
                        {{/if}}
                        {{#if userData.p_website}}
                        <p class="icon-link">{{userData.p_website}}</p>
                        {{/if}}
                    </div>
                    {{/js_compares}}
                    <div class="askfm-ad-slot askfm-ad-slot-side askfm-ad-slot-300x250" data-url="/ads/304?login=LuisFloresCruz">
                        <a target="_blank" rel="noopener" class="askfm-default-ad" href="http://support.ask.fm">
                            <img src="https://static.ask.fm/assets/house_banner_support_center-e233cf79b06de1971be117e8c49d3c33d7a7e9ba6d8b9f487a0733202b3fd865.png" />
                        </a>
                    </div>
                </div>

                <div data-stick-to=".sticky-anchor">
                    <footer>
                        <nav class="social-links">
                            <a class="icon-askfm-solo" target="_blank" href="https://ask.fm/askfm"></a>
                            <a class="icon-facebook-solo" target="_blank" rel="noopener" href="https://www.facebook.com/askfmpage"></a>
                            <a class="icon-twitter-solo" target="_blank" rel="noopener" href="https://twitter.com/askfm"></a>
                            <a class="icon-instagram-solo" target="_blank" rel="noopener" href="https://instagram.com/askfm"></a>
                            <a class="icon-vk-solo" target="_blank" rel="noopener" href="https://vk.com/askfm"></a>
                        </nav>
                        <span class="copyright">&copy; Ask.fm 2017</span>
                        <a class="language icon-language" title="Elige el idioma" data-action="PopupOpen" data-url="/home/languages" data-gtm="{&quot;name&quot;:&quot;popup&quot;,&quot;meta&quot;:[&quot;language&quot;,&quot;Home&quot;,&quot;Locales&quot;]}" href="#">Español</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rsp-eql-mobile">
    <div class="askfm-ad-slot askfm-ad-slot-bottom askfm-ad-slot-320x50" data-url="/ads/504?login=LuisFloresCruz"></div>
</div>



{{> "footer"}}
