{{> "header"}}
<a title="Menú" class="btn-action-icon icon-hamburger rsp-eql-mobile" data-action="PopupOpen" data-url="/home/menu" href="#"></a>
<div class="util-vcenter">
	<div class="logo">
	   <img src="{{Config.staticFilesUrl}}/assets/images/logo-218dee6614a52e488e9b2aed37eecfcb43b2523a2973be8fdbfbbc3ddcdf6328.png" />
	   Pregunta y responde
	</div>
	<a class="btn-primary-wide" href="/signup">Registrarse</a>
	<a href="/login">Iniciar sesión</a>
</div>
<div class="icon-owl-peek-left"></div>
<div class="icon-owl-peek-right rsp-eql-desktop"></div>
{{> "footer"}}